<script>
    function onSkillVoterListClick(keyword){
        $("#user_info_keyword").val(keyword);

        if (keyword && keyword != ''){




            var list = <%=raw @user_info.keywords_rated.to_json %>;

//{"instructor":[{"10153011850791938":"Sharon Nachum"},
// {"10153011850791938":"Sharon Nachum"},
// {"10153011850791938":"Sharon Nachum"}],"model":[]}[keyword]

//            var arr = [ {"id":"10", "class": "child-of-9"}, {"id":"11", "classd": "child-of-10"}];



            if (list){
                var voters_list = '';
                for (var id in list){

                    console.log(id + " -> " + list[id]);
                    // if (key == "name") doSomething();

                    if (id == '<%= @user.uid %>'){

                    }else{

                        if (id == keyword){

                            var voters = list[id];
                            for(var i=0;i<voters.length;i++){
                                for (var uid in voters[i]){
                                    voters_list +="<li><a><img id='"+uid+"' src='https://graph.facebook.com/"+uid+"/picture?type=small' class='lactic_request_profile_img' />";

                                    voters_list += "<a href='/public_profile?id="+uid+"'><label class='name'>"+voters[i][uid]+"</label></a></li>";
                                }

                            }
                        }

                    }


                    $("#UserslistFilter").html(voters_list);




                }

            }
        }






        $('#modal_votes').modal();
    }
    $(document).ready(function() {

        function profile_image_cycle(profile_image) {

            var tmp = profile_image.data('swap');
            profile_image.attr('data-swap', $(this).attr('src'));
            profile_image.data('swap',profile_image.attr('src'));
            profile_image.attr('src',tmp);
//            $(this).attr('str', tmp);
        };


        $('#public-profile-img').hover(function(){
            var $this = $(this);
            profile_image_cycle($this);
            timer = setInterval(function(){ profile_image_cycle($this); }, 2000);
        }, function(){
            clearInterval(timer);
        });
        $('.owl-testimonials').owlCarousel({
            singleItem: true,
            pagination: true
        });


        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });


        $('#myButton').click(function () {
            $('#modal-title-id').html("LACtic Request");
            $("responder_name").text("<%= @public_user.id %>");
            $("responder_uid").text("<%= @public_user.id %>");
            $("requestor_name").text("<%= @user.name %>");
            $("responder_osm_id_name").text("<%= @public_user.id %>");
            $("responder_uid_name").text("<%= @public_user.id %>");
            $('input[name="responder_id"]').val("<%= @public_user.id %>");
            $('input[name="lactic_match[responder_osm_id]"]').val("<%= @public_user.id %>");
            $('input[name="lactic_match[responder_uid]"]').val("<%= @public_user.id %>");
//            $("responder_id").css('visibility', 'hidden');
            $("status_name").text("pending");
            $("status").text("pending");
            $("responder").text("<%= @public_user.id %>");

            $('#modal_form_addappt').modal();



            $('.speaker-header-background').css({ opacity: 1 });

        })
        $('#modal_form_addappt').on('hidden.bs.modal', function () {
            // do something…
            $('.speaker-header-background').css({ opacity: 0.8});
        })

        $('#moreAboutBtn').click(function () {
//            $('#modal-title-id').html("LACtic Requests");
            $('#modal_about_form_addappt').modal();
        })



        FB.init({
            appId: '1464889360497123',
            version: 'v2.5' // or v2.0, v2.1, v2.2, v2.3
            , status: true, cookie: true
            //...
        });

        <% if @fb_invite_sent  %>
        FB.ui({
            method: 'send',
            name: 'Sample message to the user',
            link: 'https://warm-citadel-1598.herokuapp.com/',
            description: ' has send you this message.'
        })
        <% end %>




    })
</script>
<%= render 'layouts/shared/header'  %>
<div class="main-view footer-padding no-loader"
     style="opacity: 1;">



  <div class="speaker-page  color-4-background">
    <div class="main-app-container">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12 speaker-header speaker-header-background">
            <!--<div class="background-blur" style="background: url(https://res.cloudinary.com/bizzaboprod/image/upload/w_270,h_270,c_fill,g_face,e_blur:1300/fkyhcsbwjtkz7p6ahuxp.png)"></div>-->
            <% if @public_user.id && (@public_user.uid || @public_user.google_id)%>
                <!--<div class="background-blur"></div>-->
                <div class="background-profile"></div>

                <% if !@public_user.matched && !@user.matched%>
                    <a href="#" id="myButton" class="user-lacticate-btn"></a>

                    <div class="modal fade" id="modal_form_addappt" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title" id="modal-title-id">LActic Requests</h3>
                          </div>
                          <div class="modal-body">
                            <% if !@lactic_match.request_made %>
                                <h3>  Want to partner with <%= @public_user.name %> for a week?
                                  You both will be sharing your weekly LActic calendars and
                                  can compete or motivate each other...</h3>

                                <%= render 'lactic_matches/form',  :locals =>{:lactic_match => @lactic_match, :responder => @public_user} %>


                            <% else %>
                                <% if @lactic_match.responder == @public_user.id.to_s %>

                                    A request to LActic with <%= @public_user.name %> as already made for this week.
                                <% else %>
                                     <%= @public_user.name %>  already LACtic requested you for this week!
                                    Check out your profile site to confirm.

                                <% end %>
                            <% end %>
                          </div>
                          <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <!--<button class="btn btn-primary">LActic Request</button>-->
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                <% else %>
                    <% if @public_user.matched && @public_user.matched_user_model %>


                        <% if @public_user.matched_user_model.id != @user.id %>
                            <a href='<%="#{public_profile_url({:id => @public_user.matched_user_model.id})}" %>' class="user-lacticate-match" style="background-image: url('<%="https://graph.facebook.com/#{@public_user.matched_user_model.uid}/picture?type=large" %> '); background-repeat: no-repeat;"></a>
                        <% else %>
                            <a href='<%="#{profile_path}" %>' class="user-lacticate-match" style="background-image: url('<%="https://graph.facebook.com/#{@public_user.matched_user_model.uid}/picture?type=large" %> '); background-repeat: no-repeat;"></a>
                        <% end %>
                    <% end %>
                <% end %>


                <!--FACEBOOK FRIEND NON-LACTIC USER-->
            <% else %>
                <div class="background-blur-non"></div>
            <% end %>


            <div class="col-xs-12">
              <div class="speaker-name">
                <%= @public_user.name %>
              </div>
              <% if @public_user.id %>
                  <div class="speaker-title"></div>
                  <div class="speaker-company"></div>
                  <div class="speaker-links">
                    <a href=""></a>
                  </div>
                  <div class="speaker-social">
                    <% if @public_user.uid && !@public_user.uid.empty? %>
                        <a href="https://www.facebook.com/<%= @public_user.uid %>" target="_blank" style="color: inherit"><i class="fa fa-facebook-square transparent-link"></i></a>
                    <% else %>
                        <!--GOOGLE USER ...-->
                    <% end %>

                  </div>
              <% else %>
                  <div class="speaker-title">Is not LACtic !</div>
                  <div class="speaker-company">Invite him to join...</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if @public_user.id && (@public_user.uid || @public_user.google_id)%>

          <div class="row col-container">
            <div class="col-md-6 sm-margin-top">
              <div class="panel-body color-5-background">
                <div class="panel-title color-2">UP To This Week</div>
                <ul class="sessions-list">
                  <div class="row form-group color-5-background">
                    <div class="col-xs-12 weekly-sessions-profile panel-text color-3">
                      <div class="intro-table intro-table-third1 intro-session-weekly-table">
                        <div class="layer-red center-sessions">
                          <h5 class="white heading"></h5>
                          <div class="owl-testimonials bottom profile-owl">
                            <% @lactic_sessions.each do |lactic_session| %>
                                <div class="item">
                                  <h4 class="white heading high-light content"><%= lactic_session.title %></h4>
                                  <h5 class="white heading high-light content"><%= Time.parse(lactic_session.start_date_time.to_s).strftime("%b %d %Y, %H:%M")  %></h5>
                                  <h5 class="white heading high-light content transparent-link"><%= link_to 'Show', public_lactic_session_url(lactic_session), :class => 'btn btn-white-fill expand' %></h5>
                                </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>

              <div class="panel-body tweets-panel color-5-background sm-margin-top">
                <div class="panel-title color-2">About</div>
                <!--<div class="panel-text">Adam travels the world asking entrepreneurs one question, &quot;What problem are you solving?&quot;. He then helps them design and run experiments to help them identify and manage the biggest risks in their business model. He teaches entrepreneurs from early stage founders to massive global companies (&amp; government agencies) to apply the concepts of being &quot;Lean&quot;. He founded neighborrow.com. His clients have included KauffmanLabs, TechPeaks, Bizdom, Numa, StartupTurkey, FastForward Ramallah, AOL, ESPN, NEWSCORP, AMEX. Now working in the Product Lifecycle team at Pearson with world class lean &amp; agile specialists to help 44,000 people make evidence-based, customer centric decisions.</div>-->
                <pre class="panel-text speaker-bio color-3"></pre>

                <!--<div class="actions">-->
                  <% if @user_info.about && !@user_info.about.empty? %>
                    <div class="row intro-tables user-about">
                      <div class="intro-table-about intro-table-1">
                        <div class="layer-blue"></div>
                        <div class="col-xs-12">
                          <div class="user_info_element white heading high-light">
                              <i class="fa fa-quote-left fa-lg fa-pull-left" aria-hidden="true"></i>
                              <%= "#{@user_info.about[0][0..30]}..." %>
                              <a href="#" id="moreAboutBtn" class="user-about-btn transparent-link">Read more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <!--</div>-->



                <% if @user.uid ==  '10153011850791938' %>
                    <%=link_to  send_email_url(:send_to_email => @public_user.email, :send_to_name => @public_user.name, :send_to_id => @public_user.id), :alt => "LACtic email notification", :class => 'transparent-link' do%>
                     <span class="fa-stack fa-lg calendar-icons-spacing">
                       <i class="fa fa-square-o fa-stack-2x" aria-hidden="true"></i>
                       <i class="fa fa-inbox fa-stack-1x google-icon" aria-hidden="true"></i>
                     </span>
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-6 sm-margin-top">


              <div class="panel-body color-5-background fitness-skills">
                <div class="tweets-timeline-wrapper col-xs-12">
                  <a width="600" height="340"
                     data-chrome="noborders noscrollbar transparent"
                     class="twitter-timeline"></a>
                  <!--data-screen-name="adamberk"-->

                  <div class="row session-panel form-group color-5-background">
                    <div class="color-3 skills-title" href="" >
                      <span><strong><%= @public_user.name %>'s Fitness skills</strong></span>
                      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" id="ui-id-1">
                        Vote on a skill
                      </button>
                    </div>
                    <br>

                    <% if @user_info && @user_info.keywords_rated%>
                        <% @user_info.keywords_rated.each do |keyword, voted| %>
                            <div class="session-date color-3 keywords-profile">
                              "<%= keyword.slice(0,1).capitalize + keyword.slice(1..-1)  %>"

                              <%=link_to skill_vote_path({:public_user => @user_info.id, :keywords_rated => @user_info.keywords_rated.to_json, :skill => keyword}), :method => 'post' do%>
                                  <span class="fa-stack fa-lg pull-right keyword-icon">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                  </span>
                              <% end %>
                              <a class="fitness-skill" id="skill_votes_<%=keyword%>" onclick="onSkillVoterListClick('<%=keyword%>')">
                                <span class="fa-stack fa-lg pull-right">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                                </span>
                              </a>
                            </div>
                        <% end %>
                    <% end %>
                    <%=hidden_field_tag :user_info_keyword, @user_info.keyword, {:id => 'user_info_keyword', :name => 'user_info_keyword'}%>

                  </div>
                </div>
              </div>





            </div>
          </div>
          <div class="speaker-img-container">
            <% if @public_user.picture !=  "https://graph.facebook.com/#{@public_user.uid}/picture?type=large" %>
                <%= image_tag @public_user.picture, :class => "circular", 'data-swap' => "https://graph.facebook.com/#{@public_user.uid}/picture?type=large", :id => 'public-profile-img'%>

            <% else %>
                <%= image_tag "https://graph.facebook.com/#{@public_user.uid}/picture?type=large", :class => "circular" %>
            <% end %>

          </div>
          </div>
          </div>
          </div>

          <div id="container" style="display:none">
            <div id="basic-template">
              <a class="ui-notify-cross ui-notify-close" href="#">x</a>
              <h1>#{title}</h1>
              <p>#{text}</p>
            </div>
          </div>

      <% else %>
          <div class="speaker-img-container">
            <%= image_tag @public_user.picture, :class => "circular"%>
          </div>
          <div class="row share-row">

            <div class="col-xs-3 fb-share-icon">
              <%= button_to fb_invite_path , :id => 'FBInvite', :class => 'transparent-link invite-fb' do%>
                  <i class="fa fa-facebook-square fa-2x " aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
      <% end %>

      <%= render 'layouts/shared/footer'  %>
      <div class="modal fade" id="modal_votes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title-id">Voters</h3>
            </div>
            <div class="modal-body">

              <ol id="UserslistFilter" class="lacticUserlist">

              </ol>

            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
      </div>
      <div class="modal fade" id="modal_about_form_addappt" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title-id">About <%= @public_user.name %></h3>
            </div>
            <div class="modal-body">
              <%= render 'user_about', :locals => { :user_info => @user_info }  %>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
              <!--<button class="btn btn-primary">Save changes</button>-->
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
