<h2 style="text-align: -webkit-center;">Time to fill up your LACtic schedule</h2>
<h3> Got that same workout routine every week? or maybe a one time Marathon you've been training for?</h3>
<ul class="fa-ul">
  <li>
    <h4 class="list-group-item"> Schedule it with a simple click on your LACtic schedule.  </h4></li>
  <li>
    <h4 class="list-group-item">
    Tag the place location within range. </h4></li>
  <li>
    <h4 class="list-group-item">
    Invite other users to your workout. </h4></li>
  <li>
    <h4 class="list-group-item">
    Get encouraged by other's comments feedback & votes.    </h4></li>
  <li>
    <h4 class="list-group-item">
    For extra reminders you can also add it to your google\ical calendars.   </h4></li>
</ul>
<div class="notifications_box" >
  <ul>
    <%= image_tag attachments['lactic_create_screenshot.png'].url, :style => "-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; width: 30%" %>
    <%= image_tag attachments['user_lactic_session_screenshot.png'].url, :style => "-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;  width: 30%" %>

  </ul>

  <ul>
    <%= image_tag attachments['invite_to_session_screenshot.png'].url, :style => "-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;  width: 30%" %>

    <%= image_tag attachments['lactic_invite_session_screenshot.png'].url, :style => "-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;  width: 30%" %>

  </ul>
</div>
<h2>
  <%= link_to "Schedule some LACtic!",  "https://warm-citadel-1598.herokuapp.com/lactics" , {:style=>'text-align: center; font-size: large; text-decoration: none;'}%>
</h2>

