<p id="notice"><%= notice %></p>

<h1>Listing Session Replicas</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_replicas.each do |session_replica| %>
      <tr>
        <td><%= session_replica.origin_id %></td>
        <td><%= session_replica.start_date %></td>
        <td><%= link_to 'Show', session_replica %></td>
        <td><%= link_to 'Edit', edit_session_replica_path(session_replica) %></td>
        <td><%= link_to 'Destroy', session_replica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session replica', new_session_replica_path %>
